/* Estilo Geral do Corpo */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* Branco de fundo */
    color: #333333; /* Texto padrão em cinza escuro */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilo do Container */
.container {
    background-color: #f8f8f8; /* Um tom suave de branco para o fundo do container */
    border: 2px solid #32cd32; /* Verde */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Estilo dos Títulos */
h1 {
    color: rgb(209, 43, 43); /* Rosa */
}

h2.success {
    color: #32cd32; /* Verde */
}

h2.error {
    color: #ff6347; /* Tom de vermelho para erro */
}

/* Estilo da Mensagem de Erro */
.error-message {
    color: #ff6347; /* Tom de vermelho para destacar a mensagem de erro */
}

/* Estilo dos Botões */
.btn {
    display: inline-block;
    background-color: rgb(235, 96, 96); /* Rosa */
    color: #ffffff; /* Texto branco */
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.btn:hover {
    background-color: rgb(228, 60, 60); /* Rosa mais escuro no hover */
}

