
/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #eaf2f4;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: rgb(235, 96, 96);
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header .logo {
    width: 60px;
}

header h1 {
    margin: 10px 0;
    font-size: 2.5em;
}

/* Container Principal */
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.section {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.section h2 {
    margin-top: 0;
    color: rgb(235, 96, 96);
    font-size: 2em;
}

.buttons {
    margin-top: 15px;
}

.button {
    display: inline-block;
    text-decoration: none;
    background-color:rgb(235, 96, 96);
    color: #fff;
    padding: 10px 20px;
    font-size: 1.2em;
    border-radius: 8px;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: rgb(235, 96, 96);
}
